<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/layout :: layout(~{::title}, ~{::section})">
<head>
<title th:text="@{JEE TE1 - Fridez | Edit Beer {id}(id=${beer.id})}"></title>
</head>
<body>

	<section>
		<h2>
			Editing Beer with id <span th:utext="${beer.id}"></span>
		</h2>
		<p>Below appears a form to edit a Beer.</p>

		<form th:action="@{/app/beers/editBeer}" th:object="${beer}" method="POST">
			<input type="hidden" id="id" name="id" th:value="${beer.id}" th:field="*{id}" />
			<div>
				<label for="name">Name</label>
				<input id="name" name="name" required th:value="${beer.name}" type="text" th:field="*{name}"
					   th:minlength="${MIN_NAME_LENGTH}" />
			</div>
			<div>
				<label for="year">Year</label>
				<input id="year" name="year" required th:value="${beer.year}" type="number" th:field="*{year}"
					   th:min="${MIN_YEAR}" th:max="${MAX_YEAR}"/>
			</div>
			<div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Edit
    				<i class="material-icons right" aria-hidden="true">edit</i>
  				</button>
			</div>
		</form>
	</section>

</body>
</html>