<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/layout :: layout(~{::title}, ~{::section})">
<head>
<title>JEE TE1 - Fridez | List Beers </title>
</head>
<body>

	<section>
		<h2>List all beers</h2>
		<p>Below appears a table containing all stored beers.</p>
		
		<table class="striped" aria-describedby="List of beers">
			<tr>
				<th id="id">Id</th>
				<th id="name">Name</th>
				<th id="since">Since</th>
				<th id="actions">Actions</th>
			</tr>
			<tr th:each="beer : ${beers}">
				<td th:utext="${beer.id}"></td>
				<td th:utext="${beer.name}"></td>
				<td th:utext="${beer.year}"></td>
				<td>
					<a class="waves-effect waves-light btn" th:href="@{/app/beers/edit/{id}(id=${beer.id})}">
						<i class="material-icons left" aria-hidden="true">edit</i>Edit
					</a>
					<a class="waves-effect waves-light btn red" th:href="@{/app/beers/delete/{id}(id=${beer.id})}">
						<i class="material-icons left" aria-hidden="true">delete</i>Delete
					</a>
				</td>
			</tr>
		</table>
		
		<a class="waves-effect waves-light btn" th:href="@{/app/beers/add}">
			<i class="material-icons left" aria-hidden="true">add</i>Add a Beer
		</a>
	</section>

</body>
</html>