<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(title, content)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">JEE TE1 - Fridez</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style>
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
</style>
</head>
<body>

	<header>
		<h1 class="hide">JEE TE1 - Fridez</h1>
		<nav>
			<div class="nav-wrapper">

				<a th:href="@{/app}" class="brand-logo"> JEE TE1 - Fridez </a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a th:href="@{/app}">Index</a></li>
					<li><a th:href="@{/app/beers}">List Beers</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main class="container">
		<section th:replace="${content}">
			<p>Layout contents</p>
		</section>
	</main>
	<footer class="page-footer">
		<div class="container">
			<div class="row"></div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy; 2021 Fridez <span class="grey-text text-lighten-4 right">JEE.
					A destination de M. Chèvre</span>
			</div>
		</div>
	</footer>

</body>
</html>